body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(227, 229, 240);
}

#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-family: Hedvig Letters Sans;
    font-size: 30px;
    color: rgb(36, 83, 67);
    margin-top: 50px;
}

#company-name {
    font-family: Rubik Bubbles;
    font-size: 75px;
    color: rgb(233, 126, 215);
    margin: 10px;
}

#company-info {
    font-family: Hedvig Letters Sans;
    font-size: 20px;
    color: rgb(36, 83, 67);
    margin: 15px;
}

#input-area {
    margin-top: 50px;
}

input {
    font-family: Hedvig Letters Sans;
    padding: 10px;
    margin: 3px;
    border: 2px solid #e8c9e0;
    border-radius: 6px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
}

#save-movie-btn {
    font-family: Hedvig Letters Sans;
    color: rgb(36, 83, 67);
    background-color: white;
    border: none;
    border: 2px solid #e8c9e0;
    border-radius: 6px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
    padding: 8px 12px 8px 12px;
}

#save-movie-btn:hover {
    background-color: rgb(234, 173, 222);
}

#show-info {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    
}


.card {
    max-width: 300px;
    background-color: #ecf0f5;
    text-align: center;
    padding: 1.2rem;
    box-shadow: 0 5px 15px -10px rgba(31, 18, 53, 0.6);
    border-radius: 13px;
    margin: 0 auto;
    color: rgb(36, 83, 67);
    font-family: Hedvig Letters Sans;
}

.watched-btn {
    font-family: Hedvig Letters Sans;
    color: rgb(36, 83, 67);
    background-color: rgb(255, 255, 255);
    border: none;
    border: 2px solid #e8c9e0;
    border-radius: 6px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
    padding: 8px 12px 8px 12px;
}

.watched-btn:hover {
    background-color: rgb(234, 173, 222);
}

.delete-btn {
    font-family: Hedvig Letters Sans;
    color: rgb(36, 83, 67);
    background-color: white;
    border: none;
    border: 2px solid #e8c9e0;
    border-radius: 6px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
    padding: 8px 12px 8px 12px;
}

.delete-btn:hover {
    background-color: rgb(234, 173, 222);
}